@charset "UTF-8";
/*--------------------------------------------- 공통 적용 사항 */
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: '맑은 고딕';
	margin: 0; padding: 0px;
}

a{
	color: black;
	text-decoration: none;
}

/*--------------------------------------------- 헤더 상단 */

.icon_header{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50px;
	right: 5px;
}

.iconHArea{
	font-size: 10px;
	margin-bottom: 25px;
}

.logobox{
	text-align: center;		margin-top: 60px;
}

.title{
	font-family: '양진체';	font-weight: bold;	font-size: 50px;
	color: #403430;		
}

/*--------------------------------------------- 헤더 이미지 */
.mainboximg{
	display: flex; margin: 2%;	justify-content: center;
}

.main_img{
	width: 40%; margin: 3%;	
}

.main_img img{
	width: 100%;
}

/*--------------------------------------------- 본문(제품 출력 구역) */
.box_title{
	font-family: '양진체';	text-align: center;
	margin-top: 150px;		color: #403430;
	margin-bottom: 75px;	font-size: 35px;
}

.conetentBox{
	display: flex;	flex-wrap: wrap;
}

.itemBox{
	display: flex;	flex-wrap: wrap;	width: 25%; 	padding: 0.5%;
}

.item{
	width: 25%;
}

.itemBox :hover{ opacity: 0.8; }

.itemBox img{
	width: 100%;
}

.itemInfoBottom{
	display: flex;
}

.itemCart{
	margin-left: 120px;		display: flex;
}

.itemTitle{
	font-size: 15px;
	font-weight: bold;
	margin: 5% 0%;		/* 상하 좌우 */
}

.itemSize{
	font-size: 13px;	color: #999999;
	border-bottom: 1px solid #999999;	padding-bottom: 4%;
}

.itemPrice{
	text-decoration: line-through;	font-size: 14px;	color: #999999;
	margin-top:4%;
}

.itemSalePrice{
	font-weight: bold;	font-size: 17px;
}

/*--------------------------------------------- 푸터 */
.wrapFooter{background-color: #BABCBF; margin-top: 5%;}

.footer{
	display: flex;
}

.footer ul{
	padding-left: 0px;
}

.footer li{
	list-style-type: none;
	margin-bottom:1%;
}

.footerLeft{ margin-top:3%;}

.footerCenter1, .footerCenter2, .footerRight{ margin-top:9%;}

.footerLeft{
	width: 45%;
	color: #403430;
}

.footerCenter1, .footerCenter2{
	color: #594C47;
	width: 20%;
}

footerRight a{
	color: #594C47;
}

.footerRight{
	color: #594C47 !important;
}

.footerLeftTitle{
	font-size: 23px;
	font-weight: bold;
}

.footerCenter1Title, .footerCenter2Title{
	font-size: 18px;
	font-weight: bold;
}

.footerRightTitle{
	font-weight: bold;
}

.btn_top{
	position: fixed;
	bottom: 5px;
	right:5px;
}

.bi{ fill: #594C47; }

