@charset "UTF-8";
/*--------------------------------------------- 공통 적용 사항 */
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: '맑은 고딕';
	margin: 0; padding: 0px;
}

a{
	color: black !important;
	text-decoration: none !important;
}

/*--------------------------------------------- 헤더 상단 */
.h_topmenu{
	width: 100%; display: flex;	justify-content: space-between;
	font-size: 25px;	font-weight: bold;	
}

.searchBtn{
	margin-left: 3%;
}

.nav-item{
	margin-right: 3%;
}

.logobox{
	 text-align: center;
	 margin-top: 120px;
}

.title{
	font-family: '양진체';	font-weight: bold;	font-size: 50px;
}

/*--------------------------------------------- 헤더 이미지 */
.mainboximg{
	display: flex; margin: 2%;	justify-content: center;
}

.main_img{
	width: 40%; margin: 3%;	
}

.main_img img{
	width: 100%;
}

/*--------------------------------------------- 본문(제품 출력 구역) */
.box_title{
	font-family: '양진체';	text-align: center;
	margin-top: 150px;
	margin-bottom: 75px;	font-size: 35px;
}

.conetentBox{
	display: flex;	flex-wrap: wrap;
}

.itemBox{
	display: flex;	flex-wrap: wrap;	width: 25%; 	padding: 0.5%;
}

.item{
	width: 25%;
}

.itemBox :hover{ opacity: 0.8; }

.itemBox img{
	width: 100%;
}

.itemInfoBottom{
	display: flex;
}

.itemCart{
	margin-left: 120px;		display: flex;
}

.itemTitle{
	font-size: 15px;
	font-weight: bold;
	margin: 5% 0%;		/* 상하 좌우 */
}

.itemSize{
	font-size: 13px;	color: #999999;
	border-bottom: 1px solid #999999;	padding-bottom: 4%;
}

.itemPrice{
	text-decoration: line-through;	font-size: 14px;	color: #999999;
	margin-top:4%;
}

.itemSalePrice{
	font-weight: bold;	font-size: 17px;
}

/*--------------------------------------------- 푸터 */
.wrapFooter{background-color: #F8F9FA; margin-top: 5%;}

.footer{
	display: flex;
}

.footer ul{
	padding-left: 0px;
}

.footer li{
	list-style-type: none;
	margin-bottom:1%;
}

.footerLeft{ margin-top:3%;}

.footerCenter1, .footerCenter2, .footerRight{ margin-top:9%;}

.footerLeft{
	width: 45%;
}

.footerCenter1, .footerCenter2{
	color: #999999;
	width: 20%;
}

footerRight a{
	color: #999999;
}

.footerRight{
	color: #999999 !important;
}

.footerLeftTitle{
	font-size: 23px;
	font-weight: bold;
}

.footerCenter1Title, .footerCenter2Title{
	font-size: 18px;
	font-weight: bold;
}

.footerRightTitle{
	font-weight: bold;
}

.btn_top{
	position: fixed;
	bottom: 0px;
	right:0px;
}
