@charset "EUC-KR";

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrap{
	text-align: center;
	margin: 0 auto;
	width: 700px;
	border: 1px solid #BABCBF;
	padding: 50px;
	border-radius: 20px;
	margin-top: 30px;
	
	
}

.wrap h3{
	margin-bottom: 40px;
	font-family: '양진체';
}

.wrap div{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
	
}

.wrap img{
	width: 200px;
}

.wrap button {
	background-color: #736766 ;
	border-radius:10px;
	border:none;
	font-family: '양진체';
	padding: 30px 80px;
	font-size: 30px;
	color: white;
}

.wrap button:hover {
	opacity: 0.8
}

.info th{
	text-align: left;
	padding:0px 20px;
	
}













