@charset "UTF-8";

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainContent{
	margin-top: 80px;
	display: flex;
	font-family: '양진체';	font-size: 20px;	color: #594C47;
}

.productImgArea{width: 40%; margin-left: 3%;}

.productImgArea img{width: 100%;}

.productInfoArea{
	width: 40%;
	margin-left: 14%;	margin-top: 5%;
}

.productContent{
	display: flex;  margin-bottom: 5%;
}

.pPrice{
	text-decoration: line-through;
}

.productType{width: 30%;}

.pTitle{ font-weight: bold; }

.totalPrice{
	height: 20%;
	border-top: 1px solid #BABCBF;
	border-bottom: 1px solid #BABCBF;
	text-align: right;
	padding-top: 50px;
	font-weight: bold;
}

.productBtn{
	display: flex;
	margin-top: 5%;
}

.wishlistBtn, .cartBtn{
	width: 23%;	height: 60px;
	border: 1px solid #BABCBF;	margin-right: 1%;
}
.buyBtn{ width: 52%; background-color: #736766; color: white; }


.productType{
	width: 40%;
}

.mainbar{
	font-family: '양진체';	font-size: 15px;	color: #736766;
	margin-top: 3%;
	
}

.mainbarwrap{border-bottom: solid 1px #BABCBF; }

.mainbarwrap ul{display: flex;}
.mainbarwrap li{
	list-style-type: none;	margin-right:7%; 	color:#736766;
}

/* 선택된 li 꾸미기 */
.categoryselect{
	color: #736766 !important;	/* 속성 충돌 시 최우선 순위 설정 !important */
	border-top: 1px solid #736766;	padding-bottom: 5px;
	font-weight: bold;	color:#736766;
}