@charset "UTF-8";

@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;}
.table{
	border-style: solid;}

.cart_title{
	text-align: center;
	 font-family: 'Pretendardrgb(47, 47, 47)r';
	border-bottom: 2px solid #999999;
	width:100%;    /*박스 가로길이*/
	margin:3% auto; /*박스권 가운데 정렬*/
	padding-top: 10%;  /*안쪽 여백*/
	padding-bottom: 1%; /*안쪽 아래 여백*/
}


.price_box{/*레이아웃 배치 */
padding: 20px;
display:flex;
justify-content:flex-end
	
}
.item_t,.item_s,.item_p,.item_disp {
	font-size:  14px;
	margin:  5% 0%; /*위아래 왼오른쪽*/
	  font-family: 'Pretendard-Regular';
	text-align: center;
	
}	
.X{ padding-top:25px;
	background-color: white;
	border: 1px solid white;
}

.price_box,.total{ font-size: 20px;
}

.item_t, .item_s{
	padding: 30px !important;
}
.ckck{padding-top:25px;}
.item_p{
	
	color:#eeeeee;
	
}

.item_disp{
	text-decoration: none ! important;
	color:black ! important;
}


.message_wrap{
	position: fixed; /*위치고정*/
	top:0; left:0; /*시작점*/
	width:100%; height: 100%;
	background-color: rgba(0,0,0,0.5);/*검정색에 50% 투명도*/
	/*rgb(0,0,0) :검정색*/
	/*rgba(0,0,0,투명도) */
	z-index:1030; /*겹쳤을때 우선순위*/
	/*헤더에 부트스트랩 .stick-top{z-index:1020}*/
	
	display: flex;
	justify-content: center;
	align-content: center; align-items: center; /*중앙 배치*/
	/*버튼에 따른 표시여부 flex:모달열기/none:모달 숨기기*/
	display:none;/*기보값:처음에 모달 숨기기 안보임*/
}

.message_box{
	background-color: white; width:40%;
	padding: 3%; border-radius: 5%;
}


.message_btns{

text-align: center;
margin: 5% 0%;
}

.message_box button{
	background-color:white  ;
	padding: 10px 20px;
	margin-left: 3%;
	border: 1px solid #BABCBF;
	border-radius: 10px;
}
.message_content{
	
	font-size: 18px;
	text-align: center;
	align-items: center;
}    




