@charset "EUC-KR";

.container{width: 600px;}
.wrap {
  	width:100%;
    margin-top: 50px;
}

.wrap h3 {
    text-align: center;
    margin-bottom: 30px;
}

.content tr{width:600px; border-bottom:1px solid  #eeeeee; }
.content {
    border-top: 1px solid black;
    padding: 20px 0px;
 
}

.content table {
    margin: 0px auto;
}

.content td {
    padding: 10px 5px;
   
}


.content th{
	width: 150px;
}
.content input {
    width: 100%;
    padding: 5px;
}

.content button{ 
	padding: 5px 10px;
	width: 90px;
	background-color: #fafafa;
	border: 1px solid #eeeeee;
	
	}



.y_m_d input {
    display: inline-block;
    
      width: 27%!important;
}

.radio input {
    width: 10% !important;
    margin-left: 20px;
}


.join_btn {
    text-align: center;
    margin: 0px auto;
    padding: 30px;
   
}


.join_btn button{
background-color: #191919;
width: 350px;
height:100px;
color: white;
font-size: 30px;
}