@charset "EUC-KR";

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrap {
  	width: 600px;
    margin-top: 80px;
    margin: 0 auto;

}

.wrap h3 {
    text-align: center;
    margin: 40px 0px;
    font-family: '양진체';
    
}

h6{ font-family: '양진체';}

.content tr{width:600px; border-bottom:1px solid  #eeeeee; }
.content {
    border-top: 1px solid black;
    padding: 20px 0px;
 
}

.content table {
    margin: 0px auto;
}

.content td {
    padding: 10px 5px;
   
}


.content th{
	width: 150px;
}
.content input {
    width: 100%;
    padding: 5px;
}

.content button{ 
	padding: 7px 10px;
	width: 90px;
	background-color: white;
	border: 1px solid #BABCBF;
	color:#403430 ;
	border-radius:5px; 
	font-size: 15px;
	
	
	}

.content button:hover , .join_btn button:hover  {
	border: none;
}

.y_m_d input {
    display: inline-block;
    
      width: 28%!important;
      
}

.radio input {
    width: 10% !important;
    margin-left: 20px;
   
}




.join_btn {
    text-align: center;
    margin: 0px auto;
    padding: 30px;
   
}

.join_btn:hover{
	opacity: 0.8
}

.join_btn button{
background-color:#736766 ;
width: 350px;
height:100px;
color: white;
font-size: 30px;
border-radius:5px; 
margin-top: 40px;
 font-family: '양진체';
}


.pw_error , .id_error , .pw_error2{
	display:none;
	color:red;
	font-size: 13px;
	margin: 0px 5px;
}